  .main-menu ul {
    display: flex;
    flex-direction: column;
  }

  .menu-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .col2,
  .col3,
  .ico-tools,
  .site-map-wrap,
  .content {
    display: none;
  }

  .l-footer-empty {
    height: 15em;
}

.l-footer-wrap {
    height: 10em;
  }

  .l-header .col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
  }

  .menu-wrapper .main-search {
    margin: 0;
    float: none;
  }

  .main-menu {
    /* width: 100%; */
  }

  .main-menu ul li {
    display: flex;
    border-left: none;
  }

  .main-menu ul li a {
    border-left: none;
    width: 100%;
  }

  .menu-open--htx, .menu-open--htx.is-active {
    background-color: #0364ab;
}

.menu-open {
    display: block;
    overflow: hidden;
    margin: 0;
    height: 35px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: 0;
    cursor: pointer;
    background-color: #0364ab;
    width: 24px;
    position: absolute;
    top: 13px;
    right: 30px;
  }

.menu-open span {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    height: 3px;
    background: #ffffff;
}

.menu-open span::after,
.menu-open span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}

.menu-open span::before {
    top: -7px;
}

.menu-open span::after {
    bottom: -7px;
}

.l-outer-col2 .container-inner {
    margin: 0 !important;
}

.user-profile {
  display: flex;
    flex-direction: row;
    align-items: baseline;
}

.contacts-wrap p span {
    width: 20em;
  }
  .contacts-wrap form.uf fieldset {
    width: 88%;
    padding-right: 30px;
    }

  @media (min-width: 768px) {
    .main-menu ul {
      flex-direction: row;
    }
    .menu-open {
      display: none;
    }

    .main-menu ul li {
      border-left: 1px solid #034f9a;
      align-items: center;
    }

    .main-menu ul li a {
        border-left: 1px solid #0174b8;
        padding: 0 5px;
    }

    .menu-wrapper {
    flex-direction: row;
  }

  .contacts-wrap p span {
      width: 16em;
    }
  }


  @media (min-width: 998px) {
    .main-menu ul {
      display: table;
      width: 100%;
      font: 1.083em Arial, Tahoma, sans-serif
    }

    .main-menu ul li {
        display: table-cell;
    }

    .menu-wrapper {
      margin: 0 0 0 182px;
      display: block;
    }

    .menu-wrapper .main-search {
      float: right;
      margin: 0 0 0 -15em
    }

    .l-header .col {
      float: left;
      width: 168px;
      padding: 0;
      padding-top: 9px;
      padding-left: 10px;
      padding-left: 10px;
    }

    .main-menu ul li a {
        border-left: 1px solid #0174b8;
        padding: 13px 0;
    }

    .l-outer-col2 .container-inner {
    margin: 0 0 0 182px !important;
}
.col2,
.col3,
.ico-tools,
.content,
.site-map-wrap {
  display: block;
}

.l-footer-empty {
  height: 60.5em;
}

.l-footer-wrap {
  height: 53.5em;;
}

.contacts-wrap form.uf fieldset {
    width: 80%;
    padding: 1px 14px;
  }
}
